<!DOCTYPE html>
<title>DS job search</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <div class="page">
      <h3> Summary:</h3>
      <body>
      <div class="row">
        <div class="col-lg-12 text-left">
          <p> Original location: {{original}} &nbsp  &nbsp  Cost index: {{original_cost}} &nbsp&nbsp Average income: {{original_income}} &nbsp &nbsp
	  Average salary for {{title}}: {{original_salary}} <br>
          </p>
	  <p> Target location: {{target}} &nbsp &nbsp    Cost index: {{target_cost}}  &nbsp &nbsp  Average income: {{target_income}} &nbsp &nbsp   
	  Average salary for {{title}}: {{target_salary}} <br>
          </p>
	  <p> When move from {{original}} to {{target}}, the average income {{income_ratio_change}}, average buying power {{bp_ratio_change}}, average salary for {{title}} {{salary_change}} </p>

        </div>
      </div>
      </body>
    </div>

  
</html>
