<!DOCTYPE html>
<title>DS job search</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <div class="page">
      <h3> Summary:</h3>
      <body>
      <div class="row">
        <div class="col-lg-12 text-left">
          <p> Original location: {{original}} &nbsp  &nbsp   Average income: {{original_income}} &nbsp &nbsp    Cost index: {{original_cost}}  <br>
          </p>
	  <p> Target location: {{target}} &nbsp &nbsp      Average income: {{target_income}} &nbsp &nbsp   Cost index: {{target_cost}}  <br>
          </p>
	  <p> When move from {{original}} to {{target}}, the average income changes {{income_ratio}}, average buying power changes {{bp_ratio}} </p>

        </div>
      </div>
      </body>
    </div>

  
</html>
